
:root {
  --NV-Black: #000000;
  --NV-White: #FFFFFF;
  --NV-SpaceBlack: #392d37;
  --NV-ElectricBlue: #06AEE5;
  --NV-Grid: #4B1E44;
  --NV-GridSmall: #392d37;
  --NV-Dial: #bcbdad;
  --NV-Red: #FF0000;
  --NV-Dashboard: #392d37;
  --NV-Friend: #75EE10;
  --NV-Neutral: #1499C5;
  --NV-Enemy: #EF1053;
  --NV-Paths-Other: #EF1053;
  --NV-Paths-Gravity: #2966C0;
  --NV-Paths-Heading: #1DD634;
  --NV-Paths-Target: #F8004B;
  --NV-Paths-Torp: #222222;
  --NV-Paths-Waypoint: #FFAE22;
  --NV-Paths-Bearing: #FF8300;
  --NV-Title-Font: 'Electrolize', sans-serif;
  --NV-Text-Font: 'Oswald', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--NV-Text-Font);
    background: #121216;
}

.nv.ui.lobby {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  height: auto;
  background: #121216;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-image: url('/assets/bg.png');
  color: white;
  text-shadow: 0 0 5px var(--NV-ElectricBlue);
}

.lobby h1 {
  font-family: var(--NV-Title-Font);
  text-shadow: 0 0 12px var(--NV-ElectricBlue);
  margin: 50px 0 15vh 0;
}
.lobby h2 {
  font-family: var(--NV-Title-Font);
  text-shadow: 0 0 12px var(--NV-ElectricBlue);
  margin: 30px 0;
}

.ui-leaving, .ui-loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
  color: white;
  text-align: center;
  font-family: var(--NV-Title-Font);
  text-shadow: 0 0 16px var(--NV-ElectricBlue);

  div {
    text-align: center;
  }
}


/* STYLES FOR COMPOSITE UI */
.nv {
  z-index: 200;
  user-select: none;

  // border: 1px dotted #bada55;

  // ui styles
  &.ui {

    // some theming
    color: white;
    line-height: 30px;
    font-size: 18px;

    // set-up to be a column or row flexbox (column default)
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    user-select: none;

    pointer-events: none;
    & > * {
      pointer-events: auto;
    }

    &.scrollable {
        overflow: auto;
    }

    // column
    &.col {
      &.stretch {
        & > * {
          width: 100%;
        }
      }
    }

    // row
    &.row {
      flex-direction: row;

      &.stretch {
        & > * {
          height: 100%;
        }
      }
    }

    &.x-stretch {
      & > * {
        flex-grow: 1;
      }
    }

    &.justify-end {
      justify-content: flex-end;
    }

    &.col > .row {
      margin: 3px 0;
    }

    hr {
        margin: 50px 0;
        width: 50%;
        box-shadow: 0 0 4px 0 var(--NV-ElectricBlue);
    }

    .LED {
      z-index: 98;
      position: absolute;
      top: 8px;
      left: 14px;
      height: 10px;
      width: 10px;
      box-sizing: border-box;
      background-color: var(--NV-Paths-Waypoint);
      background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.0) 100%) #cccc00;
      box-shadow: inset 0 0 2px 0 white, 0 0 2px 0 white;
      &.heading, &.green {
        background-color: var(--NV-Paths-Heading);
        background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.0) 100%) #00cc00;
      }
      &.bearing {
        background-color: var(--NV-Paths-Bearing);
        background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.0) 100%) #cc0000;
      }
      &.gravity {
        background-color: var(--NV-Paths-Gravity);
        background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.0) 100%) #0000cc;
      }
      &.waypoint, &.yellow {
        background-color: var(--NV-Paths-Waypoint);
        background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.0) 100%) #cccc00;
      }
      &.alert {
        animation: pulse 1s infinite ease-in-out;
        background-color: var(--NV-Enemy);
        background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.0) 100%) #cc0000;
      }
    }


    // button styles
    button {
      background: transparent;
      padding: 5px 15px;
      font-family: var(--NV-Title-Font);
      line-height: 30px;
      font-size: 18px;
      border: 1px solid var(--NV-Dial);
      border-radius: 3px;
      margin: 3px;
      color: white;
      text-shadow: 0 0 4px var(--NV-ElectricBlue);
      box-shadow: none;
      cursor: pointer;

      &:active {
        outline: none;
        box-shadow: inset 0 0 var(--NV-ElectricBlue);
        transform: translate(1px, 1px);
      }

      &:hover {
        box-shadow: inset 0 0 4px var(--NV-ElectricBlue), 0 0 4px var(--NV-ElectricBlue);
      }

      &:focus {
        outline: none;
      }
      &::-moz-focus-inner {
        border: 0;
      }

      &.disabled {
          opacity: 1;
          color: var(--NV-SpaceBlack);
          border-color: var(--NV-SpaceBlack);
          text-shadow: none;
          box-shadow: none;
      }

      &.active {
        opacity: 1;
        color: var(--NV-SpaceBlack);
        border-color: var(--NV-SpaceBlack);
        text-shadow: none;
        box-shadow: none;
        &:hover {
          text-shadow: none;
          box-shadow: none;
        }
      }
      &.key {
        min-width: 44px;
      }

      .LED {
        top: 4px;
        left: 4px;
      }
    } // .button

    &.col > button {
      &:first-child {
          margin-top: 0;
          margin-right: 0;
          margin-left: 0;
      }
      &:last-child {
          margin-bottom: 0;
          margin-right: 0;
          margin-left: 0;
      }
    }

    &.row > button {
      &:first-child {
          margin-left: 0;
          margin-top: 0;
          margin-bottom: 0;
      }
      &:last-child {
          margin-right: 0;
          margin-top: 0;
          margin-bottom: 0;
      }
    }

    .data {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      line-height: 18px;
      margin: 0 0 15px 0;
      padding: 20px 15px 10px 15px;
      background: transparent;
      box-shadow: 0 0 4px 0 var(--NV-ElectricBlue);
      border: 1px solid var(--NV-Dial);
      width: 100%;
      box-sizing: border-box;
      position: relative;

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }

      .line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 2px 0;
        text-transform: uppercase;
        overflow: hidden;

        &.image {
          order: 10;
        }
        &.type {
          order: 20;
        }
        &.label {
          order: 30;
        }
        &.hull {
          order: 35;
        }
        &.bearing {
          order: 40;
        }
        &.distance {
          order: 50;
        }
        &.mass {
          order: 60;
        }
        &.radius {
          order: 70;
        }
        &.surface_gravity {
          order: 80;
        }
        &.closing {
          order: 90;
        }
        &.time {
          order: 100;
        }
        &.speed {
          order: 110;
        }
        &.orbit_at_3k {
          order: 120;
        }
        &.orbit_at_6k {
          order: 130;
        }
        &.orbit_at_9k {
          order: 140;
        }
        &.scanned {
          order: 145;
        }
        &.faction {
          order: 150;
        }
        &.IFF {
          order: 160;
        }
      }
      .image {
        background-color: var(--NV-Black);
        margin: -20px -15px 8px -15px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img {
          flex: 0 0 auto;
          max-width: 85%;
          max-height: 85%;
        }
      }
      label {
        flex: 0 0 auto;
        text-align: left;
        color: white;
        text-shadow: 0 0 4px var(--NV-ElectricBlue);
        margin-right: 5px;
        &:after {
          content: ": ";
        }
      }
      data {
        font-family: var(--NV-Title-Font);
        flex: 0 1 auto;
        text-align: right;
        box-shadow: 0 0 2px 0 var(--NV-ElectricBlue), inset 0 0 2px var(--NV-ElectricBlue);
        background-color: white;
        color: #000000;
        padding: 0 5px;
      }
      .actions {
        margin: 12px -4px 0 -4px;
        order: 999;
        button {
          flex: 1 1 auto;
          text-align: center;
          color: black;
          background-color: white;
          font-family: var(--NV-Title-Font);
          color: #000000;
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
          text-shadow: 0 0 2px var(--NV-ElectricBlue);
          margin: 0 2px;
          img {
            margin: -3px 0;
          }
        } // button

        .scan {
          flex: 1 1 auto;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          button {
            flex: 0 0 25%;
            margin-left: auto;
          }
        }
        .scan.active {
          margin: 15px 5px 0 5px;
          background-color: black;
          text-align: left;
          img {
            flex-grow: 0;
            flex-shrink: 0;
            margin: 0;
            object-fit: cover;
            // transition: width 10ms ease-in-out;
          }
        }
      }
    } // .data

    // specialised comms ui
    &.comms {
      display: none;
      border: 1px solid var(--NV-Dial);
      box-shadow: 0 0 4px var(--NV-ElectricBlue), inset 0 0 2px var(--NV-ElectricBlue);
      background-color: rgba(0, 0, 0, 0.9);
      box-sizing: border-box;
      padding: 30px;
      &.open {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
      .title {
        font-family: var(--NV-Title-Font);
        display: block;
        text-align: center;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0 0 4px var(--NV-ElectricBlue);
        &:before {
          content: "### "
        }
        &:after {
          content: " ###"
        }
      }
      .text {
        font-family: var(--NV-Title-Font);
        text-shadow: 0 0 4px var(--NV-ElectricBlue);
        display: block;
        text-align: center;
        max-width: 35em;
        margin: 1em 0 auto 0;
        p {
          margin: 0 0 1em 0;
        }
      }
    } // .comms

    &.tube.row {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin: 10px 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .LED {
        margin: 0 5px 0 0;
        flex: 0 0 auto;
        position: static;
        top: 0;
        left: 0;
      }
      h4 {
        margin: 0;
        flex: 0 0 auto;
      }
      .current {
        margin: 0 10px;
        flex: 1 1 auto;
      }

    }
    // specialised tube reload ui
    &.tube {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      line-height: 18px;
      margin: 0 15px;
      padding: 5px;
      box-shadow: 0 0 4px 2px var(--NV-ElectricBlue);
      background-color: white;
      font-family: var(--NV-Title-Font);
      color: #000000;
      width: 100%;
      box-sizing: border-box;
      position: relative;
      justify-content: flex-start;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      h4, div, button {
        text-align: center;
        color: black;
        text-shadow: none;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        margin: 0;
      }
      button {
        border: none;
        background-color: var(--NV-Enemy);
        color: white;
      }
      h4 {
        margin-bottom: auto;
      }

      .actions {

      }
      .loadOptions {
          flex-wrap: wrap;
          justify-content: center;
          button.active {
            display: none;
          }
      }

      button {
        padding: 2px 5px;
        white-space: nowrap;
        margin: 0 1px 2px 1px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

  } // .ui
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(0.9); opacity: 0.7; }
    50% { -webkit-transform: scale(1.1); opacity: 1; }
    100% { -webkit-transform: scale(0.9); opacity: 0.7; }
}

@keyframes pulse {
    0% { transform: scale(0.9); opacity: 0.7; }
    50% { transform: scale(1.1); opacity: 1; }
    100% { transform: scale(0.9); opacity: 0.7; }
}
