body, html {
    padding: 0;
    margin: 0;
}

.ui-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(calc(100vw - 100vh) / 2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    color: #00ff00;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    line-height: 30px;
    font-size: 18px;
    min-width: 140px;;

    & > * {
      margin: 30px 0;
      box-sizing: border-box;
    }
    &.right {
      left: auto;
      right: 0;
    }

    button {
      background-color: #163516;
      color: black;
      padding: 5px 15px;
      font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
      line-height: 30px;
      font-size: 18px;
      border: none;
      border-radius: 3px;
      margin: 3px;

      &.key {
        position: relative;
        background: #163516;
        background: radial-gradient(circle, #163516 0%, #203F20 75%, #355435 100%);
        text-align: center;
        color: black;
        text-shadow: -1px -1px 2px #265026;
        box-sizing: border-box;
        padding: 6px 15px 5px 16px;
        box-shadow: inset 2px 2px rgba(0, 0, 0, 0.2), 2px 2px rgba(0, 0, 0, 0.4);
        border: 8px solid #113011;
        border-bottom-color: #265026;
        border-left-color: #0c2b0c;
        border-right-color: #072607;
        user-select: none;
        outline: none;
        &:focus {
          outline: none;
        }
        &::-moz-focus-inner {
          border: 0;
        }
        &:active {
          outline: none;
          transform: translate(2px, 2px);
          box-shadow: inset 2px 2px rgba(0, 0, 0, 0.2);
        }
      }
    }
}
@media only screen and (orientation : portrait) {
  .ui-container {
    min-width: inherit;
    min-height: 140px;
    right: 0;
    width: auto;
    bottom: auto;
    height: calc(calc(100vh - 100vw) / 2);
    flex-direction: row;
    & > * {
      margin: 0 30px;
    }
    &.right {
      top: auto;
      left: auto;
      right: 0;
      bottom: 0;
    }
  }
}

.helm.ui-container {

    .engine {
      display: flex;
      flex-direction: column;
    }
    .ui-docking, .ui-undock {
        margin: auto 0 30px 0;
        display: block;
        &.inactive {
            display: none;
        }
    }
}
@media only screen and (orientation : portrait) {
  .helm.ui-container {
      .engine {
        flex-direction: row-reverse;
      }
      .ui-docking, .ui-undock {
        margin-top: 0;
        margin-left: auto;
      }
  }
}

.signals.ui-container {
    .ui-comms {
        position: static;
        padding: 0;
        justify-content: flex-start;
        align-items: flex-start;
    }
	.ui-comms.open {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		flex-direction: column;
		padding: 12vh 12vw;
		justify-content: center;
		align-items: center;
		z-index: 1;
		&:before {
			content: " ";
			display: block;
			background-color: #333;
			border: 4px solid #000;
			border-radius: 10px;
			position: fixed;
			top: 10vh;
			left: 10vw;
			bottom: 10vh;
			right: 10vw;
			z-index: 2;
		}
		& > * {
			z-index: 3;
		}

		label {
			font-size: 24px;
			display: block;
			width: 100%;
			margin: 20px 10px auto 10px;
		}

		button {
			font-size: 24px;
			padding: 10px 30px;
			text-align: center;
			margin: 10px;
			border-radius: 10px;
		}
	}
}

.nav.ui-container {
    top: auto;
    bottom: 0;
    display:  flex;
    width: 100%;
    max-width: 300px;
    flex-direction: column-reverse;
    padding: 2px 0 2px 5px;
}
.nav.ui-container .console {
    pointer-events: none;
    flex: 1 0 auto;
    opacity: 0.9;
    max-width: 100vw;
    width: 100vw;
    white-space: pre-line;
    user-select: none;
}
.nav.ui-container .console-input-container {
    flex: 0 0 auto;
    display:  flex;
    color: #00ff00;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    flex-direction: row;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}
.nav.ui-container .console-input {
    display:  block;
    flex: 1 0 auto;
    display:  block;
    border: none;
    outline: none;
    color: #00ff00;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    background: transparent;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}
.nav.ui-container .console-input-prefix {
    content: 'NAV:COM$';
    flex: 0 0 auto;
    padding-right: 8px;
    pointer-events: none;
    user-select: none;
}

button.active {
    opacity: 0.5;
}

label {
    display: block;
    color: white;
}

.lobby {
    margin: 30px auto;
    padding: 25px;
    border: 1px solid #777;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    border-radius: 21px;
    max-width: 400px;
}

.lobby .name {
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    margin: 20px;
}

.lobby .description {
    text-align: center;
    font-size: 22px;
    line-height: 22px;
    margin: 20px 20px 40px 20px;
}

.lobby .join {
    margin: 20px;
    padding: 10px 30px;
    text-align: center;
    background-color: #163516;
    font-size: 22px;
    line-height: 22px;
    color: white;
    border-radius: 21px;
    cursor: pointer;
}
