body, html {
    padding: 0;
    margin: 0;
}

.ui-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
}
.nav.ui-container {
    top: auto;
    bottom: 0;
    display:  flex;
    width: 100%;
    max-width: 300px;
    flex-direction: column-reverse;
    padding: 2px 0 2px 5px;
}
.nav.ui-container .console {
    color: #00ff00;
    flex: 1 0 auto;
    line-height: 30px;
    font-size: 18px;
    opacity: 0.9;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    pointer-events: none;
    max-width: 100vw;
    width: 100vw;
    white-space: pre-line;
    user-select: none;
}
.nav.ui-container .console-input-container {
    flex: 0 0 auto;
    display:  flex;
    color: #00ff00;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    flex-direction: row;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}
.nav.ui-container .console-input {
    display:  block;
    flex: 1 0 auto;
    display:  block;
    border: none;
    outline: none;
    color: #00ff00;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    background: transparent;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}
.nav.ui-container .console-input-prefix {
    content: 'NAV:COM$';
    flex: 0 0 auto;
    padding-right: 8px;
    pointer-events: none;
    user-select: none;
}

button.active {
    opacity: 0.2;
}

label {
    display: block;
    color: white;
}